.page{
    background-color: black;
}
.left{
    background-color: blanchedalmond;
    width:50%;
    float: left;
    display: flex;
    justify-content: center;
    height: 250px
    
}
.right{
    background-color: rgb(22, 135, 155);
    width:50%;
    float:right;
    display: flex;
    justify-content:center ;

    height: 250px;;
    

}
.btn{
    display:flex;
    justify-content: center;
    height:fit-content;
    align-items: center;
    font-style: normal;
    box-shadow: 1px 2px 1px 2px;
    position: absolute;
    top: 25%;
    bottom: 25%;
    background-color: brown;
    color: bisque;
}