
.Home{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content:flex-end;
    margin-left: 2rem;
    margin-top: -4rem;
}

.title{
    margin-left: 2rem;
}
.button{
    border-radius :25px;
    border-style: none;
    border:1px solid orange;
    background-color: transparent;
    width: 5rem;
    height:2rem;
    margin-top: 1rem;

}
#button{
    border-style: none;
    border-radius: 15px;
    color: black;
    background-color: orange;
    height: 3rem;
    width: 10rem;
}
.Main{
    
    margin-top: -25rem;
    margin-left: 10rem;
    align-items: center;
    position: fixed;
    z-index: -1;
    
}
#h2{
    display: none;
    
}
#h1{
 display: flex;
 align-items: flex-start;


}

@media screen and (max-width : 650px){
    .mobile{
        display: unset;
        float: right;
        
        
       
      }
      
      .Home{
        display:none;
        background-position:100% ;
        
    
        
      }
      .Mob{
        display:flex;
        position: absolute;
        z-index: index 3;
        margin-left: 16rem;
        margin-top: -5rem;
        margin-right: 1rem;
      }
    #open{
      display:block;
      position: absolute;
     background-color:black;
      color:#f7f6f6;
      
      height: 110%;
      width:120%;
      align-content: center;
      
      
    }
    #h1{
        display: flex;
        justify-content: flex-end;
        color: white;
        
    }
   
   #h2{
    display: block;
    float:right;
     
   }
    .button{
        color:white;
        
    }
    .Main{
        display:flex;
        justify-content:center;
        margin-left: -9rem;
        margin-top: -5rem;
        height:auto;
        width: 38rem;

    }
    
     
    
    .title{
        
        margin-top:0rem;
        margin-bottom: 2rem;
        margin-left:1rem;
        width: rem;
       
    }
   
  }
