.Login{
    border-radius: 1rem;
    background-color: rgb(224, 207, 224);
    margin-top: 10rem;
    margin-left: 20rem;
    margin-right: 20rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
button{
    background-color: blue;
    color:white;
    margin-top: 3rem;
    border-radius: 1rem;
    border-style: none;
    padding: auto;
    font-size: large;
}
.bg{
    background-color: black;
}
input{
    border-style: none;
    border-radius: 1rem;
    padding: auto;
    font-size: large;
}